* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #282c34;
  --white: #dcdfe4;
  --grey: #5a6374;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --violet: #c678dd;
  --brain: #fc76a3;
  --cyan: #56b6c2;
}
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
#columns {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 1fr;
}
#menu {
  background: var(--background);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.menu-list {
  overflow-y: auto;
  height: calc(100vh - 5rem);
}
#settings {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}
#settings-info {
  display: flex;
  flex-direction: column;
}
img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
input,
textarea,
button {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.menu-list li {
  padding: 1rem;
}
summary {
  padding: 1rem;
}

li:hover,
summary:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.flex {
  display: flex;
}
.gap-4 {
  gap: 0.5rem;
}
.justify-between {
  justify-content: space-between;
}
.pl-8 {
  padding-left: 2rem !important;
}
.center{
  align-items: center;
}
.w-full{
  width:100%
}
.menu-item-count {
  color: var(--grey);
}
/* notes */
#notes-container {
  background: var(--white);

}
#notes-header {
  padding: 1rem;
}
#notes-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}
.note-title{
  overflow: hidden;
  white-space: nowrap;
  max-width: 400px;
  text-overflow: ellipsis;
}
.note-description {
  max-height: 60px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 400px;
  text-overflow: ellipsis;
}
#search-notes {
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
#search-notes:focus {
  outline: none;
}
button {
  background: var(--background);
  color: #f2f2f2;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
button.secondary {
  border: 1px solid var(--grey);
  background: #f2f2f2;
  color: var(--background);
}
button.danger {
  background: var(--red);
  color: hsl(0, 0%, 95%);
}
#notes {
  height: calc(100vh - 7rem);
  overflow-y: auto !important;
}

.note {
  padding: 1rem;
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
.note:hover {
  background: hsl(0, 0%, 76%);
  cursor: pointer;
}
.tag {
  background: var(--background);
  color: #f2f2f2;
  border-radius: 20%;
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
}
#input-tag{
  border:none;
  background:none;
  color:#F2F2F2;
  max-width: 100px;
}
#input-tag:focus{
  outline:none;
}
h2 {
  font-weight: bold;
  padding-bottom: 0.4rem;
}
p {
  padding: 0.3rem;
}
#textedit-container {
  padding: 1rem;
  background: #f7f7f7;
}
#textedit-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
#textedit-filters {
  display: flex;
  gap: 0.5rem;
}
#textedit-addtags {
  border: none;
  background: transparent;
}
#textedit-addtags:focus {
  outline: none;
}
#textedit-notename {
  flex-grow: 1;
  border: none;
  font-size: 24px;
  background: transparent;
}
#textedit-notename:focus {
  outline: none;
}
#textedit-preview {
  padding: 1rem 0;
  background: transparent;
}
#textedit {
  border: none;
  padding: 1rem 0;
  resize: none;
  width: 100%;
  height: calc(100vh - 3.5rem);
  background: transparent;
}
#textedit:focus {
  outline: none;
}
#textedit-nonote{
  background: #f7f7f7;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
code {
  padding: 2px 4px;
  line-height: 1.2;
  border-radius: 3px;
}

pre {
  background: var(--white);
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  white-space: pre-wrap;
}

details {
  cursor: pointer;
}

summary {
  list-style: none;
  position: relative;
  display: flex;
  gap: 0.5rem;
}

summary::after {
  content: "▼";
  position: absolute;
  right: 0.7rem;
  color: var(--grey);
}

details[open] summary::after {
  content: "▲";
}
.text-grey{
  color:var(--grey)
}